celery==5.4.0
celery-progress==0.4
channels==4.0.0
channels-redis==4.1.0
Django==4.2.16
djangorestframework==3.14.0
django-celery-results==2.5.1
environs==11.0.0
flower==2.0.1
loguru==0.7.2
psycopg2-binary==2.9.10
gunicorn==20.1.0
uvicorn[standard]==0.22.0
whitenoise==6.7.0
